:root {
  --key-size: 50px;
  --key-gap: 7px;
}

.keyboard {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-right: calc(var(--key-gap) * -1);
  margin-bottom: var(--key-gap);
}

.key {
  flex-basis: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border: none;
  flex-grow: 1;
  height: var(--key-size);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: var(--key-gap);
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  transition: all .1s ease-out;
  user-select: none;
}

.key:hover {
  background-color: rgb(242, 242, 247);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.41);
}

.key.key--down {
  background-color: rgb(0, 122, 255);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.41);
  color: #ffffff;
}

.key--indicator::after {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;

  border-radius: 50%;
  background-color: rgb(142, 142, 147);
  transition: all .3s ease-out;
}

.key--indicator-on::after {
  background-color: rgb(255, 149, 0);
}

.key--small-text {
  font-size: 14px;
}

.key--caps-lock {
  flex-basis: 120px;
}
.key--enter {
  flex-basis: 120px;
}

.key--tab {
  flex-basis: 100px;
}

.key--space {
  flex-grow: 5;
  flex-basis: 400px;
}

.key--shift-left {
  flex-basis: 80px;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 300px;
  font-size: 18px;
}

.key--left {
  justify-content: flex-start;
}

.key--right {
  justify-content: flex-end;
}